<VirtualHost *:443>
  ServerAdmin webmaster@scalac.io
  ServerName hire-help-backend.scalac.io
  ServerAlias hh-backend.scalac.io


  Header always set Strict-Transport-Security "max-age=0; includeSubDomains"
#  Header add "Access-Control-Allow-Methods" "GET, POST, OPTIONS"
#  Header add "Access-Control-Allow-Headers" "Authorization"

#  SetEnvIf Origin "^http(s)?://(.+\.scalac\.io)$" origin_is=$0
#  Header always set Access-Control-Allow-Origin %{origin_is}e env=origin_is

  SSLEngine on
  SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
  SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
  SSLHonorCipherOrder     on
  SSLCompression          off

  SSLCertificateChainFile /etc/apache2/ssl/scalac.io.chain.cur.crt
  SSLCertificateFile /etc/apache2/ssl/scalac.io.cur.crt
  SSLCertificateKeyFile /etc/apache2/ssl/scalac.io.key

 # SetEnvIf Origin "http(s)?://(hh.scalac.io|hire-help.scalac.io|jitsolutions.hirehelp.io|popestock.hirehelp.io|scalac.hirehelp.io)$" cors=$0
 # ProxyPreserveHost On
  ProxyPass / http://127.0.0.1:20000/
 # Header unset "Access-Control-Allow-Origin"
 # Header set "Access-Control-Allow-Origin" %{cors}e env=cors
  ProxyPassReverse / http://127.0.0.1:20000/
</VirtualHost>
