<VirtualHost *:443>
  ServerAdmin webmaster@scalac.io
  ServerName huntly-devel.scalac.io
  ServerAlias huntly-devel.scalac.io
  LogLevel error

  ErrorLog ${APACHE_LOG_DIR}/huntly-devel.scalac.io.error.log
  CustomLog ${APACHE_LOG_DIR}/huntly-devel.scalac.io.access.log combined

  Header always set Strict-Transport-Security "max-age=0; includeSubDomains"
  Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS"
  Header always set Access-Control-Allow-Headers "Authorization, Origin, Accept, X-AUTH-TOKEN"

  ProxyPreserveHost on

  SSLProxyEngine on
  SSLProxyCheckPeerName off
  SSLEngine on
  SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
  SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
  SSLHonorCipherOrder     on
  SSLCompression          off

  SSLCertificateChainFile /etc/apache2/ssl/scalac.io.chain.cur.crt
  SSLCertificateFile /etc/apache2/ssl/scalac.io.cur.crt
  SSLCertificateKeyFile /etc/apache2/ssl/scalac.io.key

  <Location /whoami>
    RequestHeader set Authorization "Basic Z2FtaWNvbjpYNThTZ1ByNQ=="
  </Location>

 RewriteEngine On
  RewriteCond %{REQUEST_URI}  ^/leaderboard            [NC] [C]
  RewriteCond %{REQUEST_URI} websocket    [NC]
  RewriteRule /(.*)           ws://127.0.0.1:30000/$1 [P,L]

  ProxyPass /leaderboard/ http://localhost:30000/leaderboard/
  ProxyPassReverse /leaderboard/ http://localhost:30000/leaderboard/

  ProxyPass "/" "http://localhost:30000/"
  ProxyPassReverse "/" "http://localhost:30000/"

</VirtualHost>

