<VirtualHost *:443>
  ServerAdmin webmaster@scalac.io
  ServerName huntly-test-lb.scalac.io
  ServerAlias huntly-test-lb.scalac.io

  ErrorLog ${APACHE_LOG_DIR}/huntly-test-lb.scalac.io.error.log
  CustomLog ${APACHE_LOG_DIR}/huntly-test-lb.scalac.io.access.log combined

  SSLEngine on
  SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
  SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
  SSLHonorCipherOrder     on
  SSLCompression          off

  SSLCertificateChainFile /etc/apache2/ssl/scalac.io.chain.cur.crt
  SSLCertificateFile /etc/apache2/ssl/scalac.io.cur.crt
  SSLCertificateKeyFile /etc/apache2/ssl/scalac.io.key

  DocumentRoot /data/projects/jenkins/sites/huntly-backend-test-lb
  <Directory /data/projects/jenkins/sites/huntly-backend-test-lb>
    Options FollowSymLinks MultiViews
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>

<VirtualHost *:80>
  ServerAdmin webmaster@scalac.io
  ServerName huntly-test-lb.scalac.io
  ServerAlias huntly-test-lb.scalac.io

  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</VirtualHost>
