<VirtualHost *:443>
  ServerAdmin webmaster@scalac.io
  ServerName huntly-dashboard-test.scalac.io
  ServerAlias huntly-dashboard-test.scalac.io

  Header always set Strict-Transport-Security "max-age=0; includeSubDomains"
  Header always set Access-Control-Allow-Origin "*"
  Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding"
  Header always set Access-Control-Allow-Methods "GET"

  RewriteEngine on
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]
  RewriteRule ^ /index.html [L]

  SSLEngine on
  SSLHonorCipherOrder On
  SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES256-CBC-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:!RC4:!MD5:!aNULL:!EDH

    SSLCertificateChainFile /etc/apache2/ssl/scalac.io.chain.cur.crt
    SSLCertificateFile /etc/apache2/ssl/scalac.io.cur.crt
    SSLCertificateKeyFile /etc/apache2/ssl/scalac.io.key

DocumentRoot /data/projects/jenkins/sites/huntly-dashboard-test
  <Directory /data/projects/jenkins/sites/huntly-dashboard-test>
    Options FollowSymLinks MultiViews
    AllowOverride none
    Require all granted
  </Directory>
</VirtualHost>

<VirtualHost *:80>
  ServerAdmin webmaster@scalac.io
  ServerName huntly-dashboard-test.scalac.io
  ServerAlias huntly-dashboard-test.scalac.io

  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</VirtualHost>
