<VirtualHost *:80>
  ServerName recru-app-devel-backend.scalac.io
  Redirect / https://recru-app-devel-backend.scalac.io/
  RewriteEngine On
</VirtualHost>

<VirtualHost *:443>
  ServerAdmin webmaster@scalac.io
  ServerName recru-app-devel-backend.scalac.io
  ServerAlias recru-app-devel-backend.scalac.io

  ErrorLog ${APACHE_LOG_DIR}/recru-app-devel-backend.scalac.io.error.log
  CustomLog ${APACHE_LOG_DIR}/recru-app-devel-backend.scalac.io.access.log combined

  ProxyPreserveHost on

  SSLEngine on
  SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
  SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
  SSLHonorCipherOrder     on
  SSLCompression          off

  SSLCertificateChainFile /etc/letsencrypt/live/recru-app-devel-backend.scalac.io/fullchain.pem
  SSLCertificateFile /etc/letsencrypt/live/recru-app-devel-backend.scalac.io/cert.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/recru-app-devel-backend.scalac.io/privkey.pem

  RewriteEngine On

  ProxyPass / http://127.0.0.1:20082/
  ProxyPassReverse / http://127.0.0.1:20082/
</VirtualHost>
